.settings
.metadata
.checkstyle
bin
target
.pmd
.springBeans
eclipsebin
.eclipse-pmd
.buildpath
.puml
.gitreview

.class
*.zip
*.jar
*.gz
*.bak
.log
.idea
*.iml
*~
*.orig


endpoint.properties

.sonar
.vagrant
*.log
